body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.digitalClock{
    background-color: rgb(2, 32, 4);
    padding: 20px;
    border: 2px solid ;
    border-color: rgb(0, 134, 90);
    border-radius: 20px;
    text-align: center;
    
}
#time{
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
}