body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.container{
    text-align: center;
}

.digitalClock{
    background-color: rgba(0, 83, 6, 0.8);
    padding: 20px;
    border: 2px solid ;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    
}
#time{
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
}
.imgContainer{
    margin-bottom: 100px;
    
}
#image{
    
    max-width: 500px;
    
}